# DSC350 - Week 4 - Exercise 4.2

============================================
; Title: Assignment 4.2
; Author: Stefanie Molin
; Date: 26 June 2024
; Modified By: Tyler Heflin
; Description: This program demonstrates the use of Python to use CSV
; files, append them into a single dataframe, and perform queries
; on the newly created dataset.
;=========================================== */

We begin the exercises this week by importing the necessary libraries.

In [1]:
import os
import pandas as pd

## Hands-On Data Analysis with Python (2nd Edition): Page 190, Exercises 1-5

**1. We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google (FAANG) stocks, but we were given each as a separate CSV file (obtained using the "stock_analysis" package we will build in Chapter 7, Financial Analysis - Bitcoin and the Stock Market). Combine them into a single file and store the dataframe of the FAANG data as faang for the rest of the exercises:**

a) Read in the "aapl.csv", "amzn.csv", "fb.csv", "goog.csv", and "nflx.csv" files.

In [2]:
# Define the path where the files are downloaded
download_path = os.path.expanduser(r'C:\Users\thefli0\Downloads')

# Define the list of CSV files
csv_files = ['aapl.csv', 'amzn.csv', 'fb.csv', 'goog.csv', 'nflx.csv']

# Loop through the files, read the contents, print results
for file in csv_files:
    try:
        file_path = os.path.join(download_path, file)
        df = pd.read_csv(file_path)
        print(f"Context of {file}:")
        print(df)
        # Use separator for clarity
        print("\n" + "-"*50 + "\n")
    except Exception as e:
        print(f"Error reading {file}: {e}")

Context of aapl.csv:
           date       high        low       open      close       volume
0    2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0
1    2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0
2    2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0
3    2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0
4    2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0
..          ...        ...        ...        ...        ...          ...
246  2018-12-24  37.887501  36.647499  37.037498  36.707500  148676800.0
247  2018-12-26  39.307499  36.680000  37.075001  39.292500  234330000.0
248  2018-12-27  39.192501  37.517502  38.959999  39.037498  212468400.0
249  2018-12-28  39.630001  38.637501  39.375000  39.057499  169165600.0
250  2018-12-31  39.840000  39.119999  39.632500  39.435001  140014000.0

[251 rows x 6 columns]

--------------------------------------------------

Context of amzn.csv:
           date         high          low         open        close    volume
0    2018-01-02  1190.000000  1170.510010  1172.000000  1189.010010   2694500
1    2018-01-03  1205.489990  1188.300049  1188.300049  1204.199951   3108800
2    2018-01-04  1215.869995  1204.660034  1205.000000  1209.589966   3022100
3    2018-01-05  1229.140015  1210.000000  1217.510010  1229.140015   3544700
4    2018-01-08  1253.079956  1232.030029  1236.000000  1246.869995   4279500
..          ...          ...          ...          ...          ...       ...
246  2018-12-24  1396.030029  1307.000000  1346.000000  1343.959961   7220000
247  2018-12-26  1473.160034  1363.010010  1368.890015  1470.900024  10411800
248  2018-12-27  1469.000000  1390.310059  1454.199951  1461.640015   9722000
249  2018-12-28  1513.469971  1449.000000  1473.349976  1478.020020   8829000
250  2018-12-31  1520.760010  1487.000000  1510.800049  1501.969971   6954500

[251 rows x 6 columns]

--------------------------------------------------

Context of fb.csv:
           date        high         low        open       close    volume
0    2018-01-02  181.580002  177.550003  177.679993  181.419998  18151900
1    2018-01-03  184.779999  181.330002  181.880005  184.669998  16886600
2    2018-01-04  186.210007  184.100006  184.899994  184.330002  13880900
3    2018-01-05  186.899994  184.929993  185.589996  186.850006  13574500
4    2018-01-08  188.899994  186.330002  187.199997  188.279999  17994700
..          ...         ...         ...         ...         ...       ...
246  2018-12-24  129.740005  123.019997  123.099998  124.059998  22066000
247  2018-12-26  134.240005  125.889999  126.000000  134.179993  39723400
248  2018-12-27  134.990005  129.669998  132.440002  134.520004  31202500
249  2018-12-28  135.919998  132.199997  135.339996  133.199997  22627600
250  2018-12-31  134.639999  129.949997  134.449997  131.089996  24625300

[251 rows x 6 columns]

--------------------------------------------------

Context of goog.csv:
           date         high          low         open        close   volume
0    2018-01-02  1066.939941  1045.229980  1048.339966  1065.000000  1237600
1    2018-01-03  1086.290039  1063.209961  1064.310059  1082.479980  1430200
2    2018-01-04  1093.569946  1084.001953  1088.000000  1086.400024  1004600
3    2018-01-05  1104.250000  1092.000000  1094.000000  1102.229980  1279100
4    2018-01-08  1111.270020  1101.619995  1102.229980  1106.939941  1047600
..          ...          ...          ...          ...          ...      ...
246  2018-12-24  1003.539978   970.109985   973.900024   976.219971  1590300
247  2018-12-26  1040.000000   983.000000   989.010010  1039.459961  2373300
248  2018-12-27  1043.890015   997.000000  1017.150024  1043.880005  2109800
249  2018-12-28  1055.560059  1033.099976  1049.619995  1037.079956  1414800
250  2018-12-31  1052.699951  1023.590027  1050.959961  1035.609985  1493300

[251 rows x 6 columns]

--------------------------------------------------

Context of nflx.csv:
           date        high         low        open       close    volume
0    2018-01-02  201.649994  195.419998  196.100006  201.070007  10966900
1    2018-01-03  206.210007  201.500000  202.050003  205.050003   8591400
2    2018-01-04  207.050003  204.000000  206.199997  205.630005   6029600
3    2018-01-05  210.020004  205.589996  207.250000  209.990005   7033200
4    2018-01-08  212.500000  208.440002  210.020004  212.050003   5580200
..          ...         ...         ...         ...         ...       ...
246  2018-12-24  250.649994  233.679993  242.000000  233.880005   9547600
247  2018-12-26  254.500000  231.229996  233.919998  253.669998  14402700
248  2018-12-27  255.589996  240.100006  250.110001  255.570007  12235200
249  2018-12-28  261.910004  249.800003  257.940002  256.079987  10992800
250  2018-12-31  270.100006  260.000000  260.160004  267.660004  13508900

[251 rows x 6 columns]

--------------------------------------------------

b) Add a column to each dataframe, called "ticker", indicating the ticker symbol it is for (Apple's is AAPL, for example); this is how you look up a stock. In this case, the filenames happen to be the ticker symbols.

In [3]:
# Define the list of CSV files with the corresponding ticker symbols
csv_files = {
    'aapl.csv': 'AAPL', 
    'amzn.csv': 'AMZN', 
    'fb.csv': 'FB', 
    'goog.csv': 'GOOG', 
    'nflx.csv': 'NFLX'
}

# Loop through the files, read the contents, add the ticker column, print results
for file, ticker in csv_files.items():
    try:
        file_path = os.path.join(download_path, file)
        df = pd.read_csv(file_path)
        
        # Add ticker column
        df['ticker'] = ticker
        print(f"Context of {file}:")
        print(df)
        
        # Use separator for clarity
        print("\n" + "-"*50 + "\n")
    except Exception as e:
        print(f"Error reading {file}: {e}")

Context of aapl.csv:
           date       high        low       open      close       volume  \
0    2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0
1    2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0
2    2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0
3    2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0
4    2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0
..          ...        ...        ...        ...        ...          ...
246  2018-12-24  37.887501  36.647499  37.037498  36.707500  148676800.0
247  2018-12-26  39.307499  36.680000  37.075001  39.292500  234330000.0
248  2018-12-27  39.192501  37.517502  38.959999  39.037498  212468400.0
249  2018-12-28  39.630001  38.637501  39.375000  39.057499  169165600.0
250  2018-12-31  39.840000  39.119999  39.632500  39.435001  140014000.0

    ticker
0     AAPL
1     AAPL
2     AAPL
3     AAPL
4     AAPL
..     ...
246   AAPL
247   AAPL
248   AAPL
249   AAPL
250   AAPL

[251 rows x 7 columns]

--------------------------------------------------

Context of amzn.csv:
           date         high          low         open        close    volume  \
0    2018-01-02  1190.000000  1170.510010  1172.000000  1189.010010   2694500
1    2018-01-03  1205.489990  1188.300049  1188.300049  1204.199951   3108800
2    2018-01-04  1215.869995  1204.660034  1205.000000  1209.589966   3022100
3    2018-01-05  1229.140015  1210.000000  1217.510010  1229.140015   3544700
4    2018-01-08  1253.079956  1232.030029  1236.000000  1246.869995   4279500
..          ...          ...          ...          ...          ...       ...
246  2018-12-24  1396.030029  1307.000000  1346.000000  1343.959961   7220000
247  2018-12-26  1473.160034  1363.010010  1368.890015  1470.900024  10411800
248  2018-12-27  1469.000000  1390.310059  1454.199951  1461.640015   9722000
249  2018-12-28  1513.469971  1449.000000  1473.349976  1478.020020   8829000
250  2018-12-31  1520.760010  1487.000000  1510.800049  1501.969971   6954500

    ticker
0     AMZN
1     AMZN
2     AMZN
3     AMZN
4     AMZN
..     ...
246   AMZN
247   AMZN
248   AMZN
249   AMZN
250   AMZN

[251 rows x 7 columns]

--------------------------------------------------

Context of fb.csv:
           date        high         low        open       close    volume  \
0    2018-01-02  181.580002  177.550003  177.679993  181.419998  18151900
1    2018-01-03  184.779999  181.330002  181.880005  184.669998  16886600
2    2018-01-04  186.210007  184.100006  184.899994  184.330002  13880900
3    2018-01-05  186.899994  184.929993  185.589996  186.850006  13574500
4    2018-01-08  188.899994  186.330002  187.199997  188.279999  17994700
..          ...         ...         ...         ...         ...       ...
246  2018-12-24  129.740005  123.019997  123.099998  124.059998  22066000
247  2018-12-26  134.240005  125.889999  126.000000  134.179993  39723400
248  2018-12-27  134.990005  129.669998  132.440002  134.520004  31202500
249  2018-12-28  135.919998  132.199997  135.339996  133.199997  22627600
250  2018-12-31  134.639999  129.949997  134.449997  131.089996  24625300

    ticker
0       FB
1       FB
2       FB
3       FB
4       FB
..     ...
246     FB
247     FB
248     FB
249     FB
250     FB

[251 rows x 7 columns]

--------------------------------------------------

Context of goog.csv:
           date         high          low         open        close   volume  \
0    2018-01-02  1066.939941  1045.229980  1048.339966  1065.000000  1237600
1    2018-01-03  1086.290039  1063.209961  1064.310059  1082.479980  1430200
2    2018-01-04  1093.569946  1084.001953  1088.000000  1086.400024  1004600
3    2018-01-05  1104.250000  1092.000000  1094.000000  1102.229980  1279100
4    2018-01-08  1111.270020  1101.619995  1102.229980  1106.939941  1047600
..          ...          ...          ...          ...          ...      ...
246  2018-12-24  1003.539978   970.109985   973.900024   976.219971  1590300
247  2018-12-26  1040.000000   983.000000   989.010010  1039.459961  2373300
248  2018-12-27  1043.890015   997.000000  1017.150024  1043.880005  2109800
249  2018-12-28  1055.560059  1033.099976  1049.619995  1037.079956  1414800
250  2018-12-31  1052.699951  1023.590027  1050.959961  1035.609985  1493300

    ticker
0     GOOG
1     GOOG
2     GOOG
3     GOOG
4     GOOG
..     ...
246   GOOG
247   GOOG
248   GOOG
249   GOOG
250   GOOG

[251 rows x 7 columns]

--------------------------------------------------

Context of nflx.csv:
           date        high         low        open       close    volume  \
0    2018-01-02  201.649994  195.419998  196.100006  201.070007  10966900
1    2018-01-03  206.210007  201.500000  202.050003  205.050003   8591400
2    2018-01-04  207.050003  204.000000  206.199997  205.630005   6029600
3    2018-01-05  210.020004  205.589996  207.250000  209.990005   7033200
4    2018-01-08  212.500000  208.440002  210.020004  212.050003   5580200
..          ...         ...         ...         ...         ...       ...
246  2018-12-24  250.649994  233.679993  242.000000  233.880005   9547600
247  2018-12-26  254.500000  231.229996  233.919998  253.669998  14402700
248  2018-12-27  255.589996  240.100006  250.110001  255.570007  12235200
249  2018-12-28  261.910004  249.800003  257.940002  256.079987  10992800
250  2018-12-31  270.100006  260.000000  260.160004  267.660004  13508900

    ticker
0     NFLX
1     NFLX
2     NFLX
3     NFLX
4     NFLX
..     ...
246   NFLX
247   NFLX
248   NFLX
249   NFLX
250   NFLX

[251 rows x 7 columns]

--------------------------------------------------

c) Append them together into a single dataframe. <br>
d) Save the result in a CSV file called, "faang.csv".

In [4]:
# Define the list of CSV files with the corresponding ticker symbols
csv_files = {
    'aapl.csv': 'AAPL', 
    'amzn.csv': 'AMZN', 
    'fb.csv': 'FB', 
    'goog.csv': 'GOOG', 
    'nflx.csv': 'NFLX'
}

# Create a list to hold each dataframe
dataframes = []

# Loop through the files, read the contents, add the ticker column, print results
for file, ticker in csv_files.items():
    try:
        file_path = os.path.join(download_path, file)
        df = pd.read_csv(file_path)
        
        # Add ticker column
        df['ticker'] = ticker
        print(f"Context of {file}:")
        print(df)
        
        # Append dataframe to the previously created list
        dataframes.append(df)
    except Exception as e:
        print(f"Error reading {file}: {e}")

# Concat all dataframes into a single dataframe
faang_df = pd.concat(dataframes, ignore_index=True)

# Save result to a new CSV file
faang_csv_path = os.path.join(download_path, 'faang.csv')
faang_df.to_csv(faang_csv_path, index=False)

print(f"Combined DataFrame saved as {faang_csv_path}")

Context of aapl.csv:
           date       high        low       open      close       volume  \
0    2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0
1    2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0
2    2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0
3    2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0
4    2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0
..          ...        ...        ...        ...        ...          ...
246  2018-12-24  37.887501  36.647499  37.037498  36.707500  148676800.0
247  2018-12-26  39.307499  36.680000  37.075001  39.292500  234330000.0
248  2018-12-27  39.192501  37.517502  38.959999  39.037498  212468400.0
249  2018-12-28  39.630001  38.637501  39.375000  39.057499  169165600.0
250  2018-12-31  39.840000  39.119999  39.632500  39.435001  140014000.0

    ticker
0     AAPL
1     AAPL
2     AAPL
3     AAPL
4     AAPL
..     ...
246   AAPL
247   AAPL
248   AAPL
249   AAPL
250   AAPL

[251 rows x 7 columns]
Context of amzn.csv:
           date         high          low         open        close    volume  \
0    2018-01-02  1190.000000  1170.510010  1172.000000  1189.010010   2694500
1    2018-01-03  1205.489990  1188.300049  1188.300049  1204.199951   3108800
2    2018-01-04  1215.869995  1204.660034  1205.000000  1209.589966   3022100
3    2018-01-05  1229.140015  1210.000000  1217.510010  1229.140015   3544700
4    2018-01-08  1253.079956  1232.030029  1236.000000  1246.869995   4279500
..          ...          ...          ...          ...          ...       ...
246  2018-12-24  1396.030029  1307.000000  1346.000000  1343.959961   7220000
247  2018-12-26  1473.160034  1363.010010  1368.890015  1470.900024  10411800
248  2018-12-27  1469.000000  1390.310059  1454.199951  1461.640015   9722000
249  2018-12-28  1513.469971  1449.000000  1473.349976  1478.020020   8829000
250  2018-12-31  1520.760010  1487.000000  1510.800049  1501.969971   6954500

    ticker
0     AMZN
1     AMZN
2     AMZN
3     AMZN
4     AMZN
..     ...
246   AMZN
247   AMZN
248   AMZN
249   AMZN
250   AMZN

[251 rows x 7 columns]
Context of fb.csv:
           date        high         low        open       close    volume  \
0    2018-01-02  181.580002  177.550003  177.679993  181.419998  18151900
1    2018-01-03  184.779999  181.330002  181.880005  184.669998  16886600
2    2018-01-04  186.210007  184.100006  184.899994  184.330002  13880900
3    2018-01-05  186.899994  184.929993  185.589996  186.850006  13574500
4    2018-01-08  188.899994  186.330002  187.199997  188.279999  17994700
..          ...         ...         ...         ...         ...       ...
246  2018-12-24  129.740005  123.019997  123.099998  124.059998  22066000
247  2018-12-26  134.240005  125.889999  126.000000  134.179993  39723400
248  2018-12-27  134.990005  129.669998  132.440002  134.520004  31202500
249  2018-12-28  135.919998  132.199997  135.339996  133.199997  22627600
250  2018-12-31  134.639999  129.949997  134.449997  131.089996  24625300

    ticker
0       FB
1       FB
2       FB
3       FB
4       FB
..     ...
246     FB
247     FB
248     FB
249     FB
250     FB

[251 rows x 7 columns]
Context of goog.csv:
           date         high          low         open        close   volume  \
0    2018-01-02  1066.939941  1045.229980  1048.339966  1065.000000  1237600
1    2018-01-03  1086.290039  1063.209961  1064.310059  1082.479980  1430200
2    2018-01-04  1093.569946  1084.001953  1088.000000  1086.400024  1004600
3    2018-01-05  1104.250000  1092.000000  1094.000000  1102.229980  1279100
4    2018-01-08  1111.270020  1101.619995  1102.229980  1106.939941  1047600
..          ...          ...          ...          ...          ...      ...
246  2018-12-24  1003.539978   970.109985   973.900024   976.219971  1590300
247  2018-12-26  1040.000000   983.000000   989.010010  1039.459961  2373300
248  2018-12-27  1043.890015   997.000000  1017.150024  1043.880005  2109800
249  2018-12-28  1055.560059  1033.099976  1049.619995  1037.079956  1414800
250  2018-12-31  1052.699951  1023.590027  1050.959961  1035.609985  1493300

    ticker
0     GOOG
1     GOOG
2     GOOG
3     GOOG
4     GOOG
..     ...
246   GOOG
247   GOOG
248   GOOG
249   GOOG
250   GOOG

[251 rows x 7 columns]
Context of nflx.csv:
           date        high         low        open       close    volume  \
0    2018-01-02  201.649994  195.419998  196.100006  201.070007  10966900
1    2018-01-03  206.210007  201.500000  202.050003  205.050003   8591400
2    2018-01-04  207.050003  204.000000  206.199997  205.630005   6029600
3    2018-01-05  210.020004  205.589996  207.250000  209.990005   7033200
4    2018-01-08  212.500000  208.440002  210.020004  212.050003   5580200
..          ...         ...         ...         ...         ...       ...
246  2018-12-24  250.649994  233.679993  242.000000  233.880005   9547600
247  2018-12-26  254.500000  231.229996  233.919998  253.669998  14402700
248  2018-12-27  255.589996  240.100006  250.110001  255.570007  12235200
249  2018-12-28  261.910004  249.800003  257.940002  256.079987  10992800
250  2018-12-31  270.100006  260.000000  260.160004  267.660004  13508900

    ticker
0     NFLX
1     NFLX
2     NFLX
3     NFLX
4     NFLX
..     ...
246   NFLX
247   NFLX
248   NFLX
249   NFLX
250   NFLX

[251 rows x 7 columns]
Combined DataFrame saved as C:\Users\thefli0\Downloads\faang.csv

**2. With faang, use type conversion to cast the values of the "date" column into datetimes and the "volume" column into integers. Then, sort by "date" and "ticker".**

In [5]:
# Define the path where the files are downloaded
download_path = os.path.expanduser(r'C:\Users\thefli0\Downloads')

# Define the path for the CSV file
faang_csv_path = os.path.join(download_path, 'faang.csv')

# Read the file to a dataframe
df = pd.read_csv(faang_csv_path)

# Convert 'date' column to new format
df['date'] = pd.to_datetime(df['date'])

# Convert 'volume column to new format
df['volume'] = df['volume'].astype(int)

# Sort dataframe by 'date' and 'ticker'
sorted_df = df.sort_values(by=['date', 'ticker'])
# Print sorted dataframe
print(sorted_df)

           date         high          low         open        close  \
0    2018-01-02    43.075001    42.314999    42.540001    43.064999
251  2018-01-02  1190.000000  1170.510010  1172.000000  1189.010010
502  2018-01-02   181.580002   177.550003   177.679993   181.419998
753  2018-01-02  1066.939941  1045.229980  1048.339966  1065.000000
1004 2018-01-02   201.649994   195.419998   196.100006   201.070007
...         ...          ...          ...          ...          ...
250  2018-12-31    39.840000    39.119999    39.632500    39.435001
501  2018-12-31  1520.760010  1487.000000  1510.800049  1501.969971
752  2018-12-31   134.639999   129.949997   134.449997   131.089996
1003 2018-12-31  1052.699951  1023.590027  1050.959961  1035.609985
1254 2018-12-31   270.100006   260.000000   260.160004   267.660004

         volume ticker
0     102223600   AAPL
251     2694500   AMZN
502    18151900     FB
753     1237600   GOOG
1004   10966900   NFLX
...         ...    ...
250   140014000   AAPL
501     6954500   AMZN
752    24625300     FB
1003    1493300   GOOG
1254   13508900   NFLX

[1255 rows x 7 columns]

**3. Find the seven rows in "faang" with the lowest value for "volume".**

In [6]:
# Define the path where the files are downloaded
download_path = os.path.expanduser(r'C:\Users\thefli0\Downloads')

# Define the path for the CSV file
faang_csv_path = os.path.join(download_path, 'faang.csv')

# Read the file to a dataframe
df = pd.read_csv(faang_csv_path)

# Convert 'date' column to new format
df['date'] = pd.to_datetime(df['date'])

# Convert 'volume column to new format
df['volume'] = df['volume'].astype(int)

# Sort dataframe by 'date' and 'ticker'
sorted_df = df.sort_values(by=['date', 'ticker'])

# Find the seven rows with the loest volume for 'volume'
lowest_volume_rows = sorted_df.nsmallest(7, 'volume')

# Print rows
print(lowest_volume_rows)

          date         high          low         open        close  volume  \
879 2018-07-03  1135.819946  1100.020020  1135.819946  1102.890015  679000
979 2018-11-23  1037.589966  1022.398987  1030.000000  1023.880005  691500
852 2018-05-24  1080.469971  1066.150024  1079.000000  1079.239990  766800
883 2018-07-10  1159.589966  1149.589966  1156.979980  1152.839966  798400
905 2018-08-09  1255.541992  1246.010010  1249.900024  1249.099976  848600
912 2018-08-20  1211.000000  1194.625977  1205.020020  1207.770020  870800
914 2018-08-22  1211.839966  1199.000000  1200.000000  1207.329956  887400

    ticker
879   GOOG
979   GOOG
852   GOOG
883   GOOG
905   GOOG
912   GOOG
914   GOOG

**4. Right now, the data is somewhere between long and wide format. Use "melt()" to make it completely long format. Hint: "date" and "ticker" are our ID variables (they uniquely identify each row). We need to melt the rest so that we don't have separate columns for "open", "high", "low", "close", and "volume".**

In [7]:
# Define the path where the files are downloaded
download_path = os.path.expanduser(r'C:\Users\thefli0\Downloads')

# Define the path for the CSV file
faang_csv_path = os.path.join(download_path, 'faang.csv')

# Read the file to a dataframe
df = pd.read_csv(faang_csv_path)

# Melt dataframe to long format
long_format_df = pd.melt(df, id_vars=['date', 'ticker'],
                         var_name='variable', value_name='value')

# Print long format dataframe
print(long_format_df)

            date ticker variable         value
0     2018-01-02   AAPL     high  4.307500e+01
1     2018-01-03   AAPL     high  4.363750e+01
2     2018-01-04   AAPL     high  4.336750e+01
3     2018-01-05   AAPL     high  4.384250e+01
4     2018-01-08   AAPL     high  4.390250e+01
...          ...    ...      ...           ...
6270  2018-12-24   NFLX   volume  9.547600e+06
6271  2018-12-26   NFLX   volume  1.440270e+07
6272  2018-12-27   NFLX   volume  1.223520e+07
6273  2018-12-28   NFLX   volume  1.099280e+07
6274  2018-12-31   NFLX   volume  1.350890e+07

[6275 rows x 4 columns]

**5. Suppose we found out that on July 26, 2018 there was a glitch in how the data was recorded. How should we handle this? Note that there is no coding required for this exercise.**

1. To ensure that data accuracy and integrity is maintained, there are several steps that need to occur that include appropriate assessment, correction, documentation, and communication. We first need to identify the impact; which data points were affected and are there any specific patterns. Next, we can assess the extent; are only the entries on that day affected or are subsequent entries affected as well. Then, we refer to documentation to understand what the correct data should look like. After doing this, we can contact the product owner to correct the data and document any corrections that were made. To ensure transparency, these changes should be communicated to everyone that is using the data. The final steps include reviewing and validating the entire dataset to ensure the glitch was fully addressed and implementing preventative measures to mitigate the possibility of future issues.